<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>admin</fullName>
  <properties>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <!-- admin -->
      <passwordHash>jBiboj:4e716bab6438c4947fe4493605b5875c66722630084cda25588c3655049eb984</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
  </properties>
</user>
