<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>test2</fullName>
  <properties>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <!-- test2 -->
      <passwordHash>#jbcrypt:$2a$10$MCrd3MNRbUNXByVKifTumOyu2KMJ97XU.VEQOEicTaB.BqdppZGXG</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
  </properties>
</user>