<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <version>1.509</version>
  <useSecurity>true</useSecurity>
  <!--
    test1 has all privileges except hudson.model.Item.*
  -->
  <authorizationStrategy class="hudson.security.ProjectMatrixAuthorizationStrategy">
    <permission>hudson.model.Computer.Configure:test1</permission>
    <permission>hudson.model.Computer.Connect:test1</permission>
    <permission>hudson.model.Computer.Create:test1</permission>
    <permission>hudson.model.Computer.Delete:test1</permission>
    <permission>hudson.model.Computer.Disconnect:test1</permission>
    <permission>hudson.model.Hudson.Read:test1</permission>
    <permission>hudson.model.Run.Delete:test1</permission>
    <permission>hudson.model.Run.Update:test1</permission>
    <permission>hudson.model.View.Configure:test1</permission>
    <permission>hudson.model.View.Create:test1</permission>
    <permission>hudson.model.View.Delete:test1</permission>
    <permission>hudson.model.View.Read:test1</permission>
    <permission>hudson.scm.SCM.Tag:test1</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>true</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
</hudson>
