<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <version>1.509</version>
  <useSecurity>true</useSecurity>
  <!--
    admin has all privileges
    test1 and test2 has all privileges except hudson.model.Item.*
  -->
  <authorizationStrategy class="hudson.security.ProjectMatrixAuthorizationStrategy">
    <permission>hudson.model.Computer.Configure:admin</permission>
    <permission>hudson.model.Computer.Configure:test1</permission>
    <permission>hudson.model.Computer.Configure:test2</permission>
    <permission>hudson.model.Computer.Connect:admin</permission>
    <permission>hudson.model.Computer.Connect:test1</permission>
    <permission>hudson.model.Computer.Connect:test1</permission>
    <permission>hudson.model.Computer.Create:admin</permission>
    <permission>hudson.model.Computer.Create:test1</permission>
    <permission>hudson.model.Computer.Create:test2</permission>
    <permission>hudson.model.Computer.Delete:admin</permission>
    <permission>hudson.model.Computer.Delete:test1</permission>
    <permission>hudson.model.Computer.Delete:test2</permission>
    <permission>hudson.model.Computer.Disconnect:admin</permission>
    <permission>hudson.model.Computer.Disconnect:test1</permission>
    <permission>hudson.model.Computer.Disconnect:test2</permission>
    <permission>hudson.model.Hudson.Administer:admin</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:admin</permission>
    <permission>hudson.model.Hudson.Read:admin</permission>
    <permission>hudson.model.Hudson.Read:test1</permission>
    <permission>hudson.model.Hudson.Read:test2</permission>
    <permission>hudson.model.Hudson.RunScripts:admin</permission>
    <permission>hudson.model.Hudson.UploadPlugins:admin</permission>
    <permission>hudson.model.Item.Build:admin</permission>
    <permission>hudson.model.Item.Cancel:admin</permission>
    <permission>hudson.model.Item.Configure:admin</permission>
    <permission>hudson.model.Item.Create:admin</permission>
    <permission>hudson.model.Item.Delete:admin</permission>
    <permission>hudson.model.Item.Discover:admin</permission>
    <permission>hudson.model.Item.Read:admin</permission>
    <permission>hudson.model.Item.Workspace:admin</permission>
    <permission>hudson.model.Run.Delete:admin</permission>
    <permission>hudson.model.Run.Delete:test1</permission>
    <permission>hudson.model.Run.Delete:test2</permission>
    <permission>hudson.model.Run.Update:admin</permission>
    <permission>hudson.model.Run.Update:test1</permission>
    <permission>hudson.model.Run.Update:test2</permission>
    <permission>hudson.model.View.Configure:admin</permission>
    <permission>hudson.model.View.Configure:test1</permission>
    <permission>hudson.model.View.Configure:test2</permission>
    <permission>hudson.model.View.Create:admin</permission>
    <permission>hudson.model.View.Create:test1</permission>
    <permission>hudson.model.View.Create:test2</permission>
    <permission>hudson.model.View.Delete:admin</permission>
    <permission>hudson.model.View.Delete:test1</permission>
    <permission>hudson.model.View.Delete:test2</permission>
    <permission>hudson.model.View.Read:admin</permission>
    <permission>hudson.model.View.Read:test1</permission>
    <permission>hudson.model.View.Read:test2</permission>
    <permission>hudson.scm.SCM.Tag:admin</permission>
    <permission>hudson.scm.SCM.Tag:test1</permission>
    <permission>hudson.scm.SCM.Tag:test2</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>true</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
</hudson>
